{% extends 'base.html' %}


{% block title %}
CRM
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1>Employee</h1>
    <form method="post">
        <input type="text" name="fio" id="fio" class="form-control" placeholder="Name"><br>
        <textarea name="position" id="position" class="form-control" placeholder="Position"></textarea><br>
        <textarea name="department_id" id="department_id" class="form-control" placeholder="department_id"></textarea><br>
        <input type="submit" class="btn btn-success" value="Create">
    </form>
</div>
{% endblock %}